page-welcome {

    .main-content{
        background-color: cornflowerblue;//url('../../assets/imgs/main-page.jpg') no-repeat transparent;
        background-size: cover;
        background-position: center;
    }
    .login{
        background-color: royalblue;
    }
    .card{
        background-color: #B7CEEC;
        border-radius: 5%;
    }
}
